body {
    height: 100%;           
    margin: 0;
    background-image: 
        url("./background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

textarea {
    height: auto;
}

.textarea-expand {
    line-height: 1.5;
    resize: none;
    overflow: hidden;
}

.card-body.custom-card-body{
    max-height: 0px;
    transition: padding 0.15s ease, max-height 0.15s ease;
    padding: 0;
    overflow: hidden;
}

.card-body.custom-card-body.expanded{
    max-height: 2000px;
    padding: 8px;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.header {
    min-width: 100%;
}

.content{
    flex: 1;
    max-width: 10in;
    width: 100%;
    margin-bottom: 1.5rem;
}

.alert-container {
    display: flex;
    flex-direction: column; 
    position: fixed; 
    top: 10px; 
    right: 10px; 
    gap: 10px; 
    z-index: 1000; 
}

.alert-positioning {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 8in;
    width: 80%;
    z-index: 1000;
}

.inner-content{
    width: 100%;
}

.flex-box{
    display: flex;
}

.dynamic-container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
}

.loading-placeholder {
    height: 50px;
    width: 200px;
}

.fading-circle {
    background-color: #0000007f; 
    border-radius: 50%;        
    opacity: 0.8;                
    animation: fadeInOut 2s infinite ease-in-out;
    aspect-ratio: 1/1;
}

.fade-in-out{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: #0000007f;
    animation: fadeInOut 2s infinite ease-in-out;
}

@keyframes fadeInOut{
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.8;
    }
}
      

.rounded-15{
    border-radius: 15px !important;
}

.rounded-15-top{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.rounded-15-bottom{
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.width-100{
    width: 100%;
}

.element-background-color{
    background-color: rgba(255, 255, 255, 0.9);
}

.element-border-color{
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 2px;
}

.footer{
    min-width: 100%;
    display: flex;
    height: 38px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 2px;
}

.announcement-card-body{
    max-height: 50vh;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.menu-div{
    background-color: rgba(255, 255, 255, 0.9);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 50px;
    border: 0.8px solid rgba(0, 0, 0, 0.176);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 2px;
}

.menu-dropdown-div{
    position: relative;
}

.menu-dropdown-content{
    display: none;
    position: relative;
    top: 20px;
    right: 7px;
    padding-left: 5px;
    background-color: rgb(220, 220, 220);
    width: 100%;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.menu-dropdown-div:hover{
    cursor: pointer;
}

.dropdown-button{
    z-index: 2;
}

.dropdown-div{
    position: relative;
    display: inline-block;
}

.dropdown-div:hover{
    cursor: pointer;
}

.dropdown-div .dropdown-menu{
    top: 100%;
    right: 5px;
    transform: translate(0, 0);
    display: block;
    z-index: 2;
}

.dropdown-menu:hover{
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(220, 220, 220);
    min-width: 160px;
    max-width: 320px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    
    border-radius: 10px;
    top: 90%;
    right: 0%;
    z-index: 1;
}

.dropdown a{
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: rgb(175, 175, 175);
    border-radius: 10px;

}

.show{
    display: block;
}

.link-button:hover{
    cursor: pointer;
}

.link-no-decorations{
    text-decoration: none;
    color: black;
}

.link-no-decorations:hover{
    text-decoration: none;
    color: black;
}

.div-highlight{
    border-radius: 15px;
    animation:dh 2s ease-in;
    -webkit-animation:dh 2s ease-in;
    -moz-animation:dh 2s ease-in;
    -ms-animation:dh 2s ease-in;
    -o-animation:dh 2s ease-in;
}

@keyframes dh{
    0%{
      background:rgba(255,255,255,1);
    }
    50%{
          background:rgba(150,150,150,0.5);
    }
    100%{
      background:rgba(255,255,255,1);
    }
}

.break-line-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.custom-modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 30rem;
    min-width: 20rem;
    max-width: 92%;
    max-height: 90%;
    z-index: 2;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fefefe;
    border-radius: 15px;
    overflow-y: auto;
}

.custom-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.custom-modal-header{
    display: flex;
    border-bottom: 1px lightgrey;
    align-items: start;
}

.custom-modal-body{
    position: relative;
    padding: 5px 5px 10px;
    overflow-y: auto;
    max-height: 67vh;
}

.custom-modal-footer{
    position: relative;
    display: flex;
    padding: 5px 5px;
    width: 100%;
}

.hidden{
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.overlay-invisible {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.edit-image-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 14rem;
    width: 14rem;
}

.edit-image-overlay:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1); 
    transition: 0.15s;
}

input[type="file"]{
    display: none;
}

.input-field{
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
    padding: 6px 10px 6px;
    outline: grey;
}

.text{
    white-space: pre-line;
}

.input-field:focus{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.clickable:hover{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.2s;
    cursor: pointer;
}

.z-1{
    z-index: 1;
}

.max-height-30rem{
    max-height: 30rem;
}

.text-overflow-ellipsis{
    text-overflow: ellipsis;
}

.btn:focus{
    outline: none;
    box-shadow: none;
    border: none;
}

.competitor-draggable-list{
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 50rem;
    max-width: 100%;
    white-space: nowrap;
}

.competitor-draggable-item{
    padding: 0.5rem;
    margin: 0.25rem;
    flex: 0 0 100%;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid grey;
}

.competitor-draggable-item:hover{
    background-color: lightgrey;
}

.menu-bar-item{
    margin-left: 1rem;
}

.menu-bar-title{
    font-size: larger;
    font-weight: bold;
}

.race-standings-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.race-standings-position-change{
    width: 10px;
    text-align: center;
}

.race-standings-position{
    width: 20px;
    text-align: center;
    font-weight: bold;
}

.race-standings-username{
    flex: 1;
    text-align: left;
}

.race-standings-points{
    width: 50px;
    text-align: center;
    font-weight: bold;
    color: #555;
}